@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Montserrat Font Weights */
@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: Montserrat, sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(
    54.49% 0.112 83.52
  ); /* #8F6900 primary color of the patria web app */
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  html[dir="rtl"] body[data-scroll-locked] {
    margin-right: 0 !important;
    padding-right: 0 !important;
    --removed-body-scroll-bar-size: 0px !important;
  }
}

@layer components {
  /* Typography variants */

  .text-333333-32-bold {
    @apply text-[#333333] text-[32px] font-bold;
  }

  .text-333333-16-medium {
    @apply text-[#333333] text-[16px] font-medium;
  }

  .text-333333-16-semibold {
    @apply text-[#333333] text-[16px] font-semibold;
  }

  .text-333333-16-normal {
    @apply text-[#333333] text-[16px] font-normal;
  }

  .text-333333-16-bold {
    @apply text-[#333333] text-[16px] font-bold;
  }

  .text-000000-16-medium {
    @apply text-[#000000] text-[16px] font-medium;
  }

  .text-8B8B8B-16-normal {
    @apply text-[#8B8B8B] text-[16px] font-normal;
  }

  .text-000000-16-normal {
    @apply text-[#000000] text-[16px] font-normal;
  }

  .text-primary-16-normal {
    @apply text-primary text-[16px] font-normal;
  }

  .text-primary-16-semibold {
    @apply text-primary text-[16px] font-semibold;
  }

  .text-FFFFFF-16-semibold {
    @apply text-[#FFFFFF] text-[16px] font-semibold;
  }

  .text-23252A-16-normal {
    @apply text-[#23252A] text-[16px] font-normal;
  }

  .text-28293D-13-semibold {
    @apply text-[#28293D] text-[13px] font-bold;
  }

  .text-000000-13-medium {
    @apply text-[#000000] text-[13px] font-medium;
  }

  .text-000000-13-semibold {
    @apply text-[#000000] text-[13px] font-semibold;
  }

  .text-23252A-12-medium {
    @apply text-[#23252A] text-[12px] font-medium;
  }

  .text-23252A-12-normal {
    @apply text-[#23252A] text-[12px] font-normal;
  }
  .text-8B8B8B-12-medium {
    @apply text-[#8B8B8B] text-[12px] font-medium;
  }

  .text-FFFFFF-12-semibold {
    @apply text-[#FFFFFF] text-[12px] font-semibold;
  }

  .text-8B8B8B-12-normal {
    @apply text-[#8B8B8B] text-[12px] font-normal;
  }

  .text-000000-16-medium {
    @apply text-[#000000] text-[16px] font-medium;
  }

  .text-8B8B8B-14-normal {
    @apply text-[#8B8B8B] text-[14px] font-normal;
  }

  .text-28293D-14-semibold {
    @apply text-[#28293D] text-[14px] font-semibold;
  }

  .text-28293D-14-medium {
    @apply text-[#28293D] text-[14px] font-medium;
  }

  .text-28293D-14-normal {
    @apply text-[#28293D] text-[14px] font-normal;
  }

  .text-333333-14-semibold {
    @apply text-[#333333] text-[14px] font-semibold;
  }

  .text-000000-14-semibold {
    @apply text-[#000000] text-[14px] font-semibold;
  }

  .text-595959-14-medium {
    @apply text-[#595959] text-[14px] font-medium;
  }

  .text-333333-24-semibold {
    @apply text-[#333333] text-[24px] font-semibold;
  }

  .text-28293D-24-semibold {
    @apply text-[#28293D] text-[24px] font-semibold;
  }

  .text-595959-11-normal {
    @apply text-[#595959] text-[14px] font-normal;
  }

  .text-595959-11-semibold {
    @apply text-[#595959] text-[14px] font-semibold;
  }
}
